@mixin position-set($top, $left, $zIndex, $width) {
  position: absolute;

  top: $top;
  left: $left;
  z-index: $zIndex;

  width: $width;
}
.seoulSize {
  @include position-set(15.5vh, 43.2vw, 3, 2.7);
}
